body {
	background-color: #292d3e;
}

h1 {
	padding-bottom: 20px;
}

.formDiv {
	background-color: paleturquoise;
	border: 1px solid #1d9af2;
	border-radius: 15px;

	position: relative;
	justify-content: center;
	text-align: center;

	margin-top: 3% !important;
	padding-top: 70px;
	padding-right: 80px;
	padding-bottom: 70px;
	padding-left: 80px;
}

button {
	color: paleturquoise;
	background-color: #292d3e;
	border: 1px solid paleturquoise;
	border-radius: 4px;
	padding: 0 50px;
	margin-left: 30px;
	margin-right: 30px;
	cursor: pointer;
	height: 40px;
	font-size: 17px;
	transition: all 0.2s ease-in-out;
}
button:hover {
	transform: scale(1.1);
}
